#header {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: var(--header-bg);
    color: var(--header-color);
}

div.breadcrumbs {
    background: green;
    padding: 10px 40px;
    border: none;
    color: var(--breadcrumbs-fg);
    text-align: left;
}


.login .submit-row {
    padding: 1em 0 0 0;
    margin: 0;
    text-align: center;
    padding: 0px;
}
