{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px;">
        <div class="card-body">
            <h4 class="card-title text-center mb-4">Reset Password</h4>
            <form action="{% url 'reset-password' %}" method="post">
                {% include 'partials/_messages.html' %}
                {% csrf_token %}

                <div class="form-group mb-3">
                    <label for="emailField" class="form-label">Email</label>
                    <input type="text" name="email" id="emailField" value="{{fieldValues.email}}" placeholder="Enter email"
                        class="form-control form-control-sm" value="">
                </div>

                <button type="submit" class="submit-btn btn btn-primary w-100" id="submitField">Submit</button>

                <div class="text-center mt-3">
                    <small>
                        <a href="{% url 'signup' %}">Click here to create a new account</a>
                    </small>
                </div>
            </form>
        </div>
    </div>
</div>

<div>

</div>

<script src="{% static 'js/login.js' %}"></script>


{% endblock content %}
