{% load static %}

<html lang="en" data-bs-theme="auto">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Truly Expenses{% endblock title %}</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
</head>

<body>

    <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="#">Truly Expenses</a>

        <ul class="navbar-nav flex-row d-md-none">

            <li class="nav-item text-nowrap">
                <button class="nav-link px-3 text-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false"
                    aria-label="Toggle search">
                    <svg class="bi" aria-hidden="true">
                        <use xlink:href="#search" />
                    </svg>
                </button>
            </li>
        </ul>

        <div id="navbarSearch" class="navbar-search w-100 collapse">
            <input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
        </div>
        
    </header>

    <div class="container-fluid">
        <div class="row">
            {% block partials %}
            {% include 'partials/_sidebar.html' %}
            {% endblock partials %}
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% block content %}




                


                {% endblock content %}
            </main>
        </div>
    </div>

    <script defer src="{% static 'js/base.js' %}"></script>
</body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">TrulyExpenses</a>
    
        <ul class="navbar-nav px-3" style="display: flex; flex-direction: row; align-items: center;">
            <li class="nav-item text-nowrap mt-3 ml-2">
                <form action="{% url  'logout' %}" method="POST">
                    {% csrf_token %}
                    <input class="text text-capitalize" type="submit" value="Sign out" />
                </form>
            </li>
        </ul>
    </nav>
</html>